.header {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.header img {
    height: 250px;
    height: auto;
}

.blogWrapper {
    width: 60%;
    height: fit-content;
    margin: 1em auto;
    /* border:1px solid black; */
    padding: 1em;
}

.topNav {
    display: flex;
    width: 100%;
    /* border:1px solid orange; */
}

.text {
    width: 50%;
    position: relative;
}

.text p {
    position: absolute;
    font-size: 1.5em;
    left: 0;
    bottom: 0;
    color: #b3a779;
}

.materials {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

#ic_delete {
    color: orangered;
}

#ic_edit {
    color: orange;
}

#ic_add Icon{
    color: greenyellow;
}

.materials svg {
    vertical-align: middle;
    position: relative;
    margin-right: 1em;
    top: calc(50% - 10px);
}

.materials svg:hover {
    color: #b3a779;
    cursor: pointer;
}

.materials button {
    background: none;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: 1em;
    border-radius: 0px;
    margin-top: 0em;
    border: 0.1px solid black;
}

.materials button:hover {
    background: #b3a779;
    color: white;
}

.posts {
    position: relative;
    width: auto;
    height: fit-content;
    /* border: 1px solid red; */
}

.singlePost {
    border: 1px solid black;
    border-radius: 0.5em;
    margin: 2em auto;
    padding: 2em;
}

.topSection {
    display: flex;
}

.topSection img {
    height: 3em;
    border-radius: 50%;
    border: 1px solid black;
}

.inner_1 {
    /* border: 1px solid orange; */
    display: flex;
}

.inner_1 img {
    margin-top: auto;
    margin-bottom: auto;
}

.inner_2 {
    width: fit-content;
    display: block;
    /* border: 1px solid purple; */
    margin-left: 1em;
}

.wrapper_1 p {
    margin-top: 0em !important;
    margin-block-end: 0em !important;
}

.wrapper_1 svg {
    margin-left: 0.5em;
}

.wrapper_2 {
    display: -webkit-box;
}

.wrapper_2 svg {
    margin: 0.5em 0em;
}

.wrapper_2 p {
    margin: 0 0.5em;
}

.inner_2 .wrapper_1 {
    display: flex;
}

.inner_2 p {
    margin-top: 0.5em;
}

.inner_3 {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#headingTXT {
    margin-block-end: 0.7em !important;
    margin-block-start: 1em !important;
    /* font-family: 'Raleway', 'sans-serif'; */
    font-family: 'Cormorant Garamond', serif;
    color: #b3a779;
    font-weight: 800;
    font-size: 1.5em;
}

#mainTXT {
    font-weight: 200;
    font-size: 1em;
    font-family: 'Raleway', 'sans-serif';
    /* font-family: 'Cormorant Garamond', serif; */
    line-height: 1.5em;
}

.footerSection {
    display: flex;
    margin-top: 2.5em;
    border-top: 1px solid grey;
}

.footerSection p {
    font-size: 0.8em;
    font-weight: 200;
}

#comment {
    margin-left: 1.3em;
}

.addBtn{
    margin-right: 1em;
}

.popup-content {
    width: 30% !important;
    background: #f4f4f4 !important;
    border-radius: 5px;
}

.addInputs{
    height: 50%;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.addInputs input{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 1em;
    width: 100%;
}

.addInputs textarea{
    border-radius: 5px;
    height: 5em;
    font-size: 1.2em;
    margin-top: 1em;
    width: 100%;
}

#alertAdd{
    display:none;
}

#confirm{
    margin: 1em 0;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    button {
        margin-bottom: 0em;
    }

    p {
        margin-block-start: 1em;
    }
}

