* {
    box-sizing: border-box;
  }
    
  form {
    width: 320px;
    float: left;
    margin: 20px;
    > div {
      position: relative;
      overflow: hidden;
    }
    input, textarea {
      width: 100%;
      border: 2px solid gray; 
      background: none;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 8px 12px;
      outline: 0;
      &:valid {
        // Hides the label
        background: white; 
      }
      &:focus {
        border-color: #b3a779;
      }
      &:focus + label {
        background: #b3a779;
        color: white;
        font-size: 70%;
        padding: 1px 6px;
        z-index: 2;
        text-transform: uppercase;
      }
    }
    label {
      transition: 
        background 0s,
        color 0s,
        top 0s,
        bottom 0s,
        right 0s,
        left 0s;
      position: absolute;
      color: #999;
      padding: 7px 6px;
    }
    textarea {
      display: block;
      resize: vertical;
    }
  }
  
  form.go-bottom {
    input, textarea {
      padding: 12px 12px 12px 12px; 
    }
    label {
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
    input:focus, textarea:focus {
      padding: 4px 6px 20px 6px; 
    }
    input:focus + label, textarea:focus + label {
      top: 100%;
      margin-top: -16px;
    }
  }
  form.go-right {
    label {
      top: px;
      right: 100%;
      width: 100%;
      margin-right: -100%;
      bottom: 2px;
    }
    input:focus + label, textarea:focus + label {
      right: 0;
      margin-right: 0;
      width: 40%;
      padding-top: 5px;
    }
  }