.top{
    display: flex;
    justify-content: flex-end;
}

.top svg{
    float:right;
    /* padding: 2em; */
    margin-right: 2em;
    margin-top: 2em;
}

.top svg{
    cursor: pointer;
}

.loginWrapper{
    width: 50%;
    margin: auto;
    /* border:1px solid black; */
    text-align: center;
}

.txtWrapper{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    display:flex;
}

.txtWrapper p {
    /* margin: 0%; */
    font-size: 1.2em;
    margin: 0.5em 0.3em;
    margin-block-end: 0 !important;
}

#enter{
    font-size: 3em;
    margin-block-end: 0em !important;
}

#register{
    color:#b3a779; 
}

#register:hover{
    cursor: pointer;
    text-decoration: underline;
}

.inputs{
    /* border:1px solid black; */
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
}

.inputs input{
    height: 2em;
    margin-top: 2em;
    font-size: 1em;
    width: 100%;
    border:none;
    border-bottom: 1px solid grey;
}

.enter{
    margin-top: 0em;
    width: 30%
}

#check {
    font-size: 1.3em;
    color:red;
    font-family: 'Cormorant Garamond', serif;
    font-weight: inherit 400;
    display:none;
}

