
.header {
    width: 100%;
    text-align: center;
    height: fit-content;
}

.header img {
    width: 250px;
    height: auto;
}

.aboutUs {
    text-align: center;
}

button {
    font-size: 1.2em;
    margin-top: 2em;
    background: #b3a779;
    color: white;
    padding: 1em;
    border-radius: 5px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
}

button:hover {
    cursor: pointer;
    background: black;
    color: white;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}


#about {
    font-size: 2em;
    color: #b3a779;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 200;
}

#trust {
    font-size: 1.5em;
    letter-spacing: 0.05em;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 500;
}

#description {
    font-size: 1.2em;
    margin: 0 25%;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
}

.services {
    background: #f4f4f4;
}

#services {
    text-align: center;
    padding: 1.5em;
    color: #b3a779;
    font-size: 2em;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
}

.wrapper {
    display: flex;
    width: 100%;
    height: fit-content;
    padding-bottom: 1em;
}

.wrapper iframe {
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

.singleService {
    text-align: center;
    width: 25%;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    flex-direction: row;
    flex-wrap: wrap;
}


.singleService:hover {
    cursor: pointer;
}

.textWrapper p {
    margin: 10%;
}

#s1 {
    color: #b3a779;
    font-size: 1.5em;
    overflow: hidden;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;;
}

#s2 {
    font-size: 1.2em;
    letter-spacing: 0.05em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
}

#s3 {
    font-size: 1em;
    letter-spacing: 0.05em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
}

.contact {
    display: flex;
    width: 100%;
    height: fit-content;
}

.contactImg {
    width: 50%;
    padding: 3em;
    margin: auto;
}

.contactImg img {
    width: 100%;
    border-radius: 5px;
    vertical-align: middle !important;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19) !important;
}


.contactWrapper {
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    padding-bottom: 3em;
    justify-content: center;
    align-items: center;
}

.contactForm {
    display: inline-grid;
    font-size: 1.3em;
    text-align: left;
    width: fit-content;
    padding: 0 20%;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 100;
}

.contactForm input {
    margin: 5px 0px;
    border: 0.5px solid black;
    border-radius: 5px;
    width: auto;
    padding: 1em;
}

.contactForm p {
    margin-left: auto;
    margin-right: auto;
}

#alert {
    margin-block-end: 0em !important;
    color: red;
    display: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: inherit 400;
}

#send {
    margin-top: 1em;
}


#contactsTXT {
    color: #b3a779;
    font-size: 2em;
    letter-spacing: 0.05em;
}

p {
    margin-block-end: 0.5em !important;
}


@media screen and (max-width: 1000px) {
    .contact {
        display: block;
    }

    .contactsTXT {
        margin-top: 0;
    }

    p {
        margin-block-start: 0em;
    }

    button {
        margin-bottom: 2em;
    }

    .contactWrapper {
        width: 80%;
        padding-bottom: 0em;
    }

    #description {
        line-height: 1em;
        margin: 0 10%;
    }

    .wrapper {
        display: block;
    }

    .singleService {
        width: 60%;
    }

    .wrapper iframe {
        border-radius: 5px;
        width: 100%;
        height: 300px;
    }

    .textWrapper p {
        margin: 3%;
    }

    .header img {
        width: 200px;
        height: auto;
    }
}
