
.navbar{
    width: 100%;
    height: fit-content;
    padding: 1.2em 0;  
    background: #f4f4f4;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.1em;
    font-weight: 800;
}

.navbar a{
    padding: 0.3em;
    margin-left: 2%;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    cursor: pointer;
    color: #b3a779;
}

.icon{
    float: right;
    margin-right: 1em;
    color:#b3a779;
}

.icon:hover{
    cursor: pointer;
    color: black;
}
